.navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  min-width: 500px;
}

a{
    text-decoration: none;
}

.main-nav{
    color: black;
}

.main-nav-active {
  color: violet;
}
